element.style {
    margin-bottom: 40px;
}
.mtb_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
div {
    display: block;
}
body {
    line-height: 24px;
    color: #494b4c;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}
::selection {
    background-color: #1A1A1A;
    color: #FFF;
}
